@model Macss.Database.Entity.AccountMaster

@Html.AntiForgeryToken()

<!--テスト値-->
@{ var testVal = string.Empty; }

<div>
    @Html.ValidationSummary(false, "入力エラーがあります。", new { @class = "alert alert-danger" })
</div>

<table class="table macss-form-table">
    <colgroup>
        <col class="macss-form-table-title" />
        <col class="macss-form-table-contents" />
    </colgroup>
    <tr>
        <th scope="row">
            <label class="control-label required">対象手番</label>
        </th>
        <td>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="option1" checked>
                    <label class="form-check-label" for="option1">末締１手番　</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="option3">
                    <label class="form-check-label" for="option1">末締２手番　</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="option3">
                    <label class="form-check-label" for="option1">締日指定　</label>
                    <div class="form-check form-check-inline" style="margin-right:0;width:60px;">
                        <input class="form-control text-box single-line" id="simebi_nissu" name="simebi_nissu" type="text" disabled>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-12 text-right">
        <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Confirm</button>
    </div>
</div>
