<html lang="ja">
</html>

@{
    ViewBag.Title = "月次データ更新";
    ViewBag.PageMainTitle = "月次データ更新完了";
}

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();

            var dt = new Macss.DataTables.MacssSimpleTable("#ExecCompleteList");
            dt.configure();

        });
    </script>
}

<div class="alert @ViewBag.AlertType">
    <span>@ViewBag.ResultMessage</span>
</div>

<div class="row justify-content-end macss-form-button-group-row">
    <div class="col-4 text-right">
        <a role="button" class="btn btn-secondary" href="@Url.Action("SubMenu", "Home")">サブメニューへ</a>
    </div>
</div>

<div class="mb-4">
</div>

<div class="row mr-4 mb-1">
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">年月</span>
            </div>
            <span class="form-control">2021年12月</span>
        </div>
    </div>
    <div class="col-8 text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#CsvDownloadDialog">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>

<table id="ExecCompleteList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th>
                更新データ　　　　　　　　　　　
            </th>
            <th>
                結果　　　　　　
            </th>
            <th>
                更新件数
            </th>
            <th>
                結果詳細
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>入出庫在庫実績データ更新</td>
            <td>正常</td>
            <td>100件</td>
            <td></td>
        </tr>
        <tr>
            <td>
                保管荷役請求引渡しデータ更新
            </td>
            <td>正常</td>
            <td>200件</td>
            <td></td>
        </tr>
        <tr>
            <td>
                保管取引先マスタ更新
            </td>
            <td>正常</td>
            <td>300件</td>
            <td></td>
        </tr>
        <tr>
            <td>
                契約品名マスタ更新
            </td>
            <td>異常</td>
            <td>0件</td>
            <td>
                <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-toggle="popover"
                   data-html="true" data-trigger="focus" title="結果詳細"
                   data-content="エラー明細１<br>エラー明細２">詳細</a>
            </td>
        </tr>
        <tr>
            <td>
                …
            </td>
            <td>
                …
            </td>
            <td>
                …
            </td>
            <td>
                …
            </td>
        </tr>
    </tbody>
</table>
@*</div>*@