
@{
    ViewBag.PageMainTitle = "引当状態";
}
@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#SampleList", [{
                "className": "macss-table-proc-column", "width": 80, "orderable": false, "targets": 0
            },], 1);
            dt.configure();

            var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion", "#CollapseShow", "#CollapseHidden");
            cond.setCollapseEvent();

            var sampleDatePicker11 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker11", "#SampleCalendar11");
            sampleDatePicker11.configure();
            var sampleDatePicker12 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker12", "#SampleCalendar12");
            sampleDatePicker12.configure();
            var sampleDatePicker21 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker21", "#SampleCalendar21");
            sampleDatePicker21.configure();
            var sampleDatePicker22 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker22", "#SampleCalendar22");
            sampleDatePicker22.configure();

        });

    </script>
}

@section CssExtended{
    <style type="text/css">
    </style>
}

@Html.Partial("../../Views/Shared/Dialog/_DepartmentCodeSearch")


@using (Html.BeginForm("Search", "Stock", null, FormMethod.Post))
{

    <div class="row justify-content-between macss-form-button-group-row">
        <div class="col-4">
            <a role="button" class="btn btn-secondary" href="@Url.Action("Edit")">@MacssWeb.Resources.ControlText.Back</a>
        </div>
    </div>

}

<table id="SampleList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
        <tr>
            <th>計画状態</th>
            <th>引当状態</th>
            <th>伝票区分</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>
                <a class="btn btn-sm macss-label-like-btn-shipped" role="button" data-toggle="popover">出庫可能</a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="btn btn-sm macss-label-like-btn-lacking" role="button" data-toggle="popover">一部不足</a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="btn btn-sm macss-label-like-btn-out" role="button" data-toggle="popover">在庫無</a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

