<html lang="ja">
@{
    ViewBag.Title = "得意先在庫データ照合";
    ViewBag.PageMainTitle = "得意先在庫データ照合";
}


<div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">照合方法</span>
                </div>
                <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                    <option value="0">アップロードして照合</option>
                    <option value="1">照合のみ</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">得意先</span>
                </div>
                <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1" value="000073831">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#DepartmentCodeSearchDialog">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition3">照合日付</span>
                </div>
                <input type="text" id="SampleDTPicker1" class="form-control" value="2021/01/20" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mt-4">
        <div>
            <div class="macss-form-button-group-row pr-0">
                <div class="text-right">
                    <a class="btn btn-primary macss-btn-sub" href="@Url.Action("Upload", "Customer")" role="button">照合</a>
                </div>
            </div>
        </div>
    </div>
</div>

