@model IEnumerable<MacssWeb.Models.AccountMasterUpload>
@{
    ViewBag.Title = "TMS業務登録・データ連携マスターメンテナンス（汎用）取込結果";
    ViewBag.PageMainTitle = "TMS業務登録・データ連携マスターメンテナンス（汎用）取込結果";
}
@section Scripts {
    <script>$(function () {

            var dt = new Macss.DataTables.MacssDataTable("#UploadConfirmList");
            dt.setScrollY("600px");
            dt.configure();

            $('[data-toggle="popover"]').popover();

        });</script>
}

<div class="alert @ViewBag.AlertType">
    <span>マスターメンテナンスを完了しました。</span>
</div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">再アップロード</a>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="form-inline">
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">ファイル</span>
            </div>
            <span class="form-control">@ViewBag.UploadFileName</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">取込件数</span>
            </div>
            <span class="form-control">@ViewBag.UploadedCount</span>
        </div>
    </div>
</div>