<div class="container-fluid mt-4">
    <div class="row mr-0 mb-1">
        @* 対象締日 *@
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">対象締日</span>
                </div>
                <span class="form-control">31 日締</span>
            </div>
        </div>
        @* 対象月度 *@
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">対象月度</span>
                </div>
                <span class="form-control">2021 年 1 月度</span>
            </div>
        </div>
        @* 請求期間 from to／月度 *@
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">顧客請求期間</span>
                </div>
                <span class="form-control">2021/01/01</span>
                <div class="input-group-prepend">
                    <span class="input-group-text">～</span>
                </div>
                <span class="form-control">2021/01/31</span>
            </div>
        </div>
    </div>
</div>
