@Html.Partial("../Shared/Dialog/_HinmeiCodeSearch")
@Html.Partial("../Shared/Dialog/_DepartmentCodeSearch")

<div class="modal" id="DanballEditDialog" tabindex="-1" role="dialog" aria-labelledby="DanballEditDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="StockEditDialogTitle">ダンボール入力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="accordion" id="ConditionAccordion">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">ダンボール</label>
                            </th>
                            <td>
                                <div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="input-group">
                                                <input class="form-control text-box single-line" data-val="true" data-val-length="フィールド 品名コード は最大長が 4 の文字列である必要があります。" data-val-length-max="4" data-val-required="部門コード フィールドが必要です。" id="bumon_cd" name="bumon_cd" type="text" value="0001240">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#HinmeiCodeSearchDialog">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <span id="DepartmentName" class="align-middle">ダンボールＡ</span>
                                        </div>
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="hinmei_cd" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">数量</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="LotNo" name="IDName" type="text" value="1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">金額</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="LotNo" name="IDName" type="text" value="50">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer"></div>
            <div class="row justify-content-between macss-form-button-group-row">
                <div class="col-4">
                    <a class="btn btn-secondary" data-dismiss="modal" role="button">キャンセル</a>
                </div>
                <div class="col-8 text-right">
                    <a role="button" class="btn btn-primary" data-dismiss="modal">更新</a>
                    <a role="button" class="btn btn-danger" data-dismiss="modal">削除</a>
                </div>
            </div>
        </div>
    </div>
</div>

