<div class="modal" id="D105CreateDialog"" tabindex="-1" role="dialog" aria-labelledby="StockCreateDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="StockCreateDialogTitle">請求パターン明細情報入力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
@*            <div class="accordion" id="ConditionAccordion">*@
            <div class="modal-body">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">項番</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">項目名</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">明細コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">製造番号</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">数量</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">単価</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">単位名称</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">金額</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">課税区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option value="1">1:外税</option>
                                        <option value="2">2:非課税</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">業務形態コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">区分コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">原価区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option value="1">1:原価</option>
                                        <option value="2">2:経費</option>
                                        <option value="3">3:構内作業費</option>
                                        <option value="4">4:サービス委託</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PCコード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PC部門コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PC事業区分コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-between macss-form-button-group-row">
                    <div class="col-4">
                        <a class="btn btn-secondary" data-dismiss="modal" role="button">キャンセル</a>
                    </div>
                    <div class="col-4 text-right">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">追加</button>
                    </div>
                </div>
            </div>
                <div class="modal-footer"></div>
            </div>
    </div>
</div>
