<div class="modal" id="D206EditDialog"" tabindex="-1" role="dialog" aria-labelledby="StockCreateDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="StockCreateDialogTitle">在庫管理情報入力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*            <div class="accordion" id="ConditionAccordion">*@
            <div class="modal-body">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">倉庫コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">商品コード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">管理用PCコード</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">帳簿在庫</label>
                            </th>
                            <td>
                                <div>
                                    <input class="form-control text-box single-line" id="Shelf number" name="IDName" type="text" value="">
                                </div>
                            </td>
                        </tr>                                                                                                                    
                    </tbody>
                </table>
                <div class="row justify-content-between macss-form-button-group-row">
                    <div class="col-4">
                        <a class="btn btn-secondary" data-dismiss="modal" role="button">キャンセル</a>
                    </div>
                    <div class="col-8 text-right">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">更新</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal">削除</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
